// src/assets/scss/_variables.scss

// Colores
$color-primary: #6a11cb;
$color-secondary: #2575fc;
$text-color: #333;
$background-color: #f6f8fa;
$login-box-background: linear-gradient(145deg, $color-primary 0%, $color-secondary 100%);
