// src/styles/pages/Login/Login.module.scss

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(145deg, #364152 0%, #8f9091 100%);
    background-color: #000; // Color de fondo similar al de GitHub
    font-family: ui-rounded;
}

.loginBox {
    width: 90%;
    padding: 20px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    border: 1px solid #e1e4e8; // Borde ligero para definir el contenedor
    margin-bottom: 2rem;
}

.registerBox {
    width: 90%;
    color: #333; // Color de texto oscuro para contraste
    border-top: 1px solid #dbdbdb; // Un borde para separar el registro
    padding-top: 16px; // Un poco de espacio entre el borde y el texto
}

.loginTitle {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    color: #333; // Color de texto oscuro para contraste
}

.formGroup {
    margin-bottom: 15px;
}

.inputField {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e1e4e8; // Bordes suaves
    font-size: 14px;
    color: #abb4bf; // Color de texto suave
    background-color: #e4f3fd; // Color de fondo suave

    &:focus {
        border-color: #324665; // Resalta el borde al enfocar
        outline: none;
    }
}

.submitButton {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #364152; // Botón verde GitHub
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    &:hover {
        background-color: darken(#ffffff, 100%);
    }
}
